PORT=3000
HOST=0.0.0.0
NODE_ENV=development
SESSION_SECRET=cambia-esto-por-una-clave-larga-y-segura
DEFAULT_ADMIN_USERNAME=admi
DEFAULT_ADMIN_PASSWORD=admi
ADMIN_NOTIFY_EMAIL=tesaludaw33@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tesaludaw33@gmail.com
SMTP_PASS=PEGA_AQUI_TU_APP_PASSWORD_DE_GMAIL
SMTP_FROM=W'Fraganc <tesaludaw33@gmail.com>
